body {
font-family: 'Open Sans', sans-serif;
}
/* header */
.nav {
    text-align: center;
    font-size: 0;
}
.nav__item {
    display: inline-block;
    position: relative;
    margin: 20px 0;

}
.nav__link,
.subnav__link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.nav__link{
    padding: 20px 20px;
    
}

.nav__item:hover .nav__link,
.subnav__item:hover .subnav__link{
    padding: 20px 30px;
    color: white;
    background: #2c2c2c;
    border-radius: 5%;
}
.subnav {
    position: absolute;
    top: 220%;
    left: 0;
    display: none;
    z-index: 2;
    
}
.subnav__item {
    width: 230px;
    font-size: .8rem;
}
.subnav__link {
    padding: 20px 20px;
    background-color: gray;
    display: block;
}
.nav__item:hover .subnav {
    display: block;
    z-index: 2;

}
.logo {
    text-align: center;
    margin-top:  148px;
    
}
.fa-leaf{
    font-size: 3.5rem;
    color: white;
    background-color: #fb5d5d;
    padding: 43px;
    border-radius: 50%;
    margin-bottom: 55px;
}
h1{
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 600;
}

.conteiner   {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/* text-article */

.text-article {
    border-top: 1px solid gray;
    margin-top: 121px;
    border-bottom: 1px solid gray;
    padding-bottom: 95px;
}
.title-article {
    margin-top: 138px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .02rem;
}
.desc-article {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.9rem;
    letter-spacing: .05rem;
    margin-top: 34px;
}

/* fotoBox */


.text-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 25px;
}
.fotoBox-title{
    font-size: 1.3rem;
    font-weight: 600;
}
.foto {
    margin-top: 78px;
    margin-bottom: 60px;
}
.foto img{
    margin: 0 0 43px 0px
}

/* btn-portfolio */

.btn-portfolio {
    border-bottom: 2px solid gray;
    padding-bottom: 48px;
}
.button {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 24px 90px;
    background-color: #fb5d5d;
    text-decoration: none;
    color: white;
}
.title {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .02rem;
    margin-top: 41px;
}
.subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: .02rem;
    margin-top: 34px;
    margin-bottom: 17px;
}

.description {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.9rem;
    letter-spacing: .05rem;
}

/* btn-lectus */

.btn-lectus {
    margin-top: 90px;
}


/* .btn-magna */
.btn-magna {
    margin-top: 140px;
    border-bottom: 2px solid gray;
    padding-bottom: 48px;
}
.btn-magna h2{
    margin-bottom: 19px;
}
