body {
        font-family: 'Montserrat', sans-serif;
}
/* header */
.header {
    width: 42%;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.nav__link,
.subnav__link {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.nav__item {
    position: relative;
}

.nav__item:hover .nav__link,
.subnav__item:hover .subnav__link{
    color: white;
    background: #2c2c2c;
}
.subnav {
    position: relative;
    top: 5%;
    left: 0;
    display: none;
    z-index: 2;
    
}
.subnav__item {
    width: 230px;
    font-size: .8rem;
}
.subnav__link {
    background-color: gray;
    display: block;
}
.nav__item:hover .subnav {
    display: block;
    z-index: 2;

}
.logo {
    text-align: center;
    margin-top:  100px;
    
}
.fa-leaf{
    font-size: 3rem;
    color: white;
    background-color: #fb5d5d;
    padding: 20px;
    border-radius: 50%;
}
h1{
    font-size: 3rem;
    font-weight: 600;
}

.conteiner   {
    width: 80%;
    margin: 0 auto;
}
/* text-article */

.text-article {
    border-top: 1px solid gray;
    margin-top: 80px;
    border-bottom: 1px solid gray;
    padding-bottom: 80px;
    text-align: center;
}
.title-article {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 1.6rem;
}
.desc-article {
    font-size: 1.8;
    font-weight: 300;
}

/* lightbox */


